.btn{
    &,
    &:link,
    &:visited{
    text-transform: uppercase;
    text-decoration:none;
    padding: 1.5rem 4rem /*(top right bottom left ) or (top/bottom left/right) */;
    display: inline-block; /*if you want to give paddings, heights or widths*/
    border-radius:10rem;
    transition: all .2s; /* here we 'allow' for transistions. without it the hover/active etc wouldnt work*/
    position:relative;
    border: none; // remove standard border
    cursor: pointer;

    }
    &:hover,
    {
        transform: translateY(-0.3rem); /*when hover it slides up*/
        box-shadow:0 1rem 2rem rgba($color-dark, 0.2); /*x y blur color*/

        &::after{
            transform: scaleX(1.4) scaleY(1.6); /*scale(2) would be double the size of the original .btn */
            opacity:0;/*make invisible*/
        }
    }
    &:active,
    &:focus {
        outline: none;
        transform: translateY(-0.1rem);/*when click it slides down*/
        box-shadow:0 0.5rem 1rem rgba($color-dark, 0.2); /*x y blur color*/
    }
    &--white {
        background-color:$color-light;
        color:$color-dark;
        border-radius:2rem;

        &::after{
            color:$color-light;
        }
    }
    &--blue {
        background-color:$color-grey-light-1;
        color:$color-light;
        border-radius:2rem;

        &::after{
            color:$color-dark;
        }
    }
    &--link {
        background-color:$color-light;
        color:$color-dark;
        border-radius:2rem;

        &::after{
            color:$color-light;
        }
    }

    &::after { /*looks like the original button, but is behind button. hover makes it show shortly*/
        content:""; /*required*/
        display:inline-block;
        height:100%; /*child of btn, so same size as btn*/
        width:100%;
        border-radius:10rem;
        position:absolute;
        top:0;
        left:0;
        z-index:-1;
        transition: all .4s; /*allows transitions*/
    }
    &--animated { /*slide in from invisible, to visible from bottom*/
        animation: moveInButton .5s ease-out .75s;
        animation-fill-mode: backwards; /*before animation starts, the 0% styles from keyframes will be applied*/
    }
}

/* ************************************************************ */

.btn2{
    &:link,
    &:visited {
    text-decoration:none;
    padding: .5rem 1rem /*(top right bottom left ) or (top/bottom left/right) */;
    display: inline-block; /*if you want to give paddings, heights or widths*/
    transition: all .2s; /* here we 'allow' for transistions. without it the hover/active etc wouldnt work*/
    position:relative;
    }
    &:hover {
        transform: translateY(-0.3rem); /*when hover it slides up*/
        box-shadow:0 1rem 2rem rgba($color-dark, 0.2); /*x y blur color*/

        &::after {
            transform: scaleX(1) scaleY(1); /*scale(2) would be double the size of the original .btn */
            opacity:0;/*make invisible*/
        }
    }
    &:active {
        transform: translateY(-0.1rem);/*when click it slides down*/
        box-shadow:0 0.5rem 1rem rgba($color-dark, 0.2); /*x y blur color*/
    }

    &--link {
        background-color:$color-dark;
        color:$color-light;

        &::after {
            color:$color-light;
        }
    }

    &::after { /*looks like the original button, but is behind button. hover makes it show shortly*/
        content:""; /*required*/
        display:inline-block;
        height:100%; /*child of btn, so same size as btn*/
        width:100%;
        border-radius:10rem;
        position:absolute;
        top:0;
        left:0;
        z-index:-1;
        transition: all .4s; /*allows transitions*/
    }
    &--animated { /*slide in from invisible, to visible from bottom*/
        animation: moveInButton .5s ease-out .75s;
        animation-fill-mode: backwards; /*before animation starts, the 0% styles from keyframes will be applied*/
    }
}

.btn3 {
    position:relative; 
}
.btn--centered {
    position:absolute;
    margin:0 auto;
    bottom:20%;
    left:50%;
    z-index:10;
}


.btn-text {
    &:link,
    &:visited {
        color:$color-primary;
        display:inline-block;
        text-decoration: none;
        border-bottom:0.1rem solid $color-primary;
        padding: 0.3rem;
        font-size: $default-font-size;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-light;
        box-shadow: 0 1rem 2rem rgba($color-dark, 0.15);
        transform: translateY(-2px);
    }

    &:active {
        box-shadow: 0 0.5rem 1rem rgba($color-dark, 0.15);
        transform: translateY(0);
    }
}

