/*=================================================================
                           Navigation
==================================================================*/
.navigation {

    &__checkbox {
        display: none;
    }

    &__button { // the round button
        background-color: $color-light;
        height: 7rem;
        width: 7rem;
        border-radius: 50%; //round
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 2000;
        box-shadow: 0 1rem 3rem rgba($color-black, .1);
        text-align: center;
        cursor: pointer;

            /* -------------MEDIA Queries -----------------*/
            //  600 - 900 ?
            @include respond(tab-p) {
                top: 5rem;
                right: 5rem;

                height: 6rem;
                width: 6rem;
            }

            /* -------------MEDIA Queries -----------------*/
            // 0 - 600?
            @include respond(phone) {
                top: 4rem;
                right: 4rem;

                height: 5rem;
                width: 5rem;
            } 
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        //radial starts in middle and expands outside. so circle is  dark outside and light in middle.
        background-image: radial-gradient($color-primary-light, $color-primary);
        z-index: 1000;
        transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

            /* -------------MEDIA Queries -----------------*/
            //  600 - 900 ?
            @include respond(tab-p) {
                top: 5.5rem;
                right: 5.5rem;

                height: 5rem;
                width: 5rem;
            }

            /* -------------MEDIA Queries -----------------*/
            // 0 - 600?
            @include respond(phone) {
                top: 4.5rem;
                right: 4.5rem;

                height: 4rem;
                width: 4rem;
            }
    }

    
    &__nav {
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1500;
        opacity: 0; //hidden
        width: 0; // if not this is set, the links will appear on hover.
        transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }

    &__list {
        @include centerHorizontalVertical;
        list-style: none;
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        display:inline-block;

        &:link,
        &:visited {
            font-size: 3rem;
            font-weight: 300;
            color: $color-light;
            padding: 1rem 2rem;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-light 50%);
            background-size: 250%;
            transition: all .4s;

            & span {
                margin-right: 1.5rem;
                display:inline-block;
            }
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }
    }

    //Checkbox hack. 
    //~ general sibling of the checkbox
    &__checkbox:checked ~ &__background {
        transform: scale(80);
    }
    &__checkbox:checked ~ &__nav {
        opacity: 1; //shown
        width: 100%; // all screen
    }

    //Icon: Menu
    &__icon {
        position: relative;
        margin-top: 3.5rem;

        /* -------------MEDIA Queries -----------------*/
            //  600 - 900 ?
            @include respond(tab-p) {
                margin-top: 3rem;
            }

            /* -------------MEDIA Queries -----------------*/
            // 0 - 600?
            @include respond(phone) {
               margin-top: 2.5rem;
            } 
        
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-black;
            display: inline-block;

            /* -------------MEDIA Queries -----------------*/
            //  600 - 900 ?
            @include respond(tab-p) {
                width: 2.5rem;
            }

            /* -------------MEDIA Queries -----------------*/
            // 0 - 600?
            @include respond(phone) {
                width: 2rem;
            } 
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all .2s;
        }

        &::before {top: -.8rem;}
        &::after {top: .8rem;}
    }

    &__button:hover &__icon:before { // move up
        top: -1rem;
    }
    &__button:hover &__icon:after { // move down
        top: 1rem;
    }

    &__checkbox:checked + &__button &__icon { // when click: hide middle line
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before { // when click: make it an x
        top: 0; // move to start.
        transform: rotate(135deg);   
    }

    &__checkbox:checked + &__button &__icon::after { // when click: make it an x
        top: 0; // move to start.
        transform: rotate(-135deg);
    }
}
