/*  ******************** FONT ******************** */

$default-font-size: 1.6rem;


/*  ******************** COLORS ******************** */

//bg and link colors.
$color-primary: rgb(138, 124, 94);
$color-secondary:#3E939A;



