
/* ***************** HEADINGS ***************** */
.heading-primary{
    color:$color-light;
    text-transform:uppercase;
    backface-visibility: hidden;
    margin-bottom:6rem;

    &--main{
        display:block;
        font-weight:400;
        font-size:4rem;
        letter-spacing:1rem;
        padding-left:3rem;
        padding-right:3rem;
    
        animation-name:moveInLeft;
        animation-duration:1s;
        animation-timing-function: ease-out;

            /* -------------MEDIA Queries -----------------*/
            // 0 - 600?
            @include respond(phone) {
                letter-spacing: 1rem;
                font-size: 4rem;
            }
    }

    &--sub{
        display:block;
        font-weight:700;
        font-size:2rem;
        letter-spacing:1.74rem;
        animation: moveInRight 1s ease-out;

            /* -------------MEDIA Queries -----------------*/
            // 0 - 600?
            @include respond(phone) {
                letter-spacing: .5rem;
            }
    }
}
.heading-secondary{
    font-size: 3.5rem;
    font-weight: 700;
    text-transform:uppercase;
    backface-visibility: hidden;
    margin-bottom:6rem;
    display:inline-block;
    background-image: linear-gradient(to right, $color-primary, $color-secondary); // background color on the heading. starts right
    -webkit-background-clip: text; // background image ONLY where text is.
    color: transparent; // colors needs to be transparent to see the gradient
    letter-spacing: 0.2rem;
    transition: all 0.2s;

            /* -------------MEDIA Queries -----------------*/
            //  600 - 900 ?
            @include respond(tab-p) {
                font-size: 3rem;
            }

            // 0 - 600?
            @include respond(phone) {
                font-size: 2.5rem; 
                margin-bottom:3rem;
            }

    &:hover{
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba($color-dark, 0.2)
    }

}
.heading-tertiary{
    text-transform:uppercase;
    backface-visibility: hidden;
    display: inline-block;
    letter-spacing: 0.2rem;
    font-size: $default-font-size;
    font-weight: 700;
    color:$color-dark;
    font-size:2rem;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

.heading-comic{font-family: 'Amatic SC', cursive; font-weight: 700; font-size:3rem;}

.blog-heading {
    margin-top: 20rem;

            /* -------------MEDIA Queries -----------------*/
            //  600 - 900 ?
            @include respond(tab-p) {
                margin-top: 2rem;
            }
}



/* ***************** other ***************** */

p { 
    color: $color-light;
    font-size: $default-font-size; 
    line-height: 2rem; 
    margin: 0; 

    &:not(:last-child){
        margin-bottom: 3rem; 
    }
}
body{
    font-family:'Belleza','Sansita', "Lato", sans-serif;
    font-weight:400;
    font-size:$default-font-size;
    line-height:1.7;
    color:$color-light;
    /*background-color: $color-primary;*/
}

a { 
    color: lighten($color-secondary, 25%); 
    text-decoration: none; 

    &:hover { 
        color: $color-secondary;
        text-decoration: underline 
    }
}
.author { 
    color: $color-dark; 
    display: block; 
    font-family: 'Open Sans', 
    sans-serif; font-size: 16px; 
    padding-bottom: 38px; 
    position: relative; 
    text-align: center; 
    z-index: 1; 

    &:before { 
        border-top: 0.1rem solid $color-dark; 
        content: ""; 
        position: absolute; 
        top: 1.2rem; 
        left: 0; 
        width: 100%; 
        z-index: -1; 
    }

    & span { 
        background: $color-light; 
        padding: 0 1rem; 
        text-transform: uppercase; 
    }
}
.line { 
    border-top: 0.1rem solid $color-primary; 
    display: block; 
    margin-top: 6rem; 
    padding-top: 5rem; 
    position: relative; 
}
.read-more { 
    -moz-border-radius: 50%; 
    -moz-transition: all 0.2s ease-in-out; 
    -webkit-border-radius: 50%; 
    -webkit-transition: all 0.2s ease-in-out; 
    background: $color-dark; 
    border-radius: 50%; 
    border: 1rem solid $color-light; 
    color: $color-light; 
    display: block; 
    font-family: 'Open Sans', sans-serif; 
    font-size: 1.4rem; height: 8rem; 
    line-height: 8rem; 
    margin: -2rem 0 0 -2rem; 

    position: fixed; 
    top:3rem; 
    z-index:999;
    right: 2.5rem; 
    text-align: center; 
    text-transform: uppercase; 
    width: 8rem; 
    cursor: pointer;

    &:hover { 
        background: $color-secondary; 
        text-decoration: none; 
    }
}


