.u-center-text{text-align: center !important;}
.u-right-text{text-align: right !important;}

.u-margin-bottom-big{margin-bottom:8rem !important;}
.u-margin-bottom-medium{margin-bottom:4rem !important;}
.u-margin-bottom-small{margin-bottom:1.5rem !important;}

/* -------------MEDIA Queries -----------------*/
    // 0 - 600?
    @include respond(phone) {
        .u-margin-bottom-big{margin-bottom:2rem !important;}
        .u-margin-bottom-medium{margin-bottom:1rem !important;}
        .u-margin-bottom-small{margin-bottom:.5rem !important;}
    }

.u-padding-left-big{padding-left:8rem !important;}
.u-padding--left-medium{padding-left:4rem !important;}
.u-padding--left-small{padding-left:1.5rem !important;}

.u-padding-right-big{padding-right:8rem !important;}
.u-padding--right-medium{padding-right:4rem !important;}
.u-padding--right-small{padding-right:1.5rem !important;}

.u-padding-bottom-small{padding-bottom: 1.5rem !important;}
.u-padding-bottom-medium{padding-bottom: 4rem !important;}
.u-padding-bottom-large{padding-bottom: 8rem !important;}

