  
  <!-- this is added in templates/page.liquid 
  {{title}} is passed from there as a parameter.-->
  <section class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="content">
            <h1 class="page-name">{{title}}</h1>
            <nav aria-label="breadcrumb">
              <ol id="breadcrumb" class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>